$font-title: 'Abel', sans-serif;
$font-copy: 'Lato', sans-serif;
$font-subHeader: 'Raleway', sans-serif;
$dark-blue: #11212a;
$medium-blue: #2c4969;
$light-blue: #0098de;
$light-gray: #adadad;
$btn-orange: #EEAD0E;
$dark-gray: #777777;
$white: #fff;


.App {
  height: 100%;
}

.All-Content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  display: table;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.Inventory-container {
  display: table-cell;
  width: 60%;
  padding: 0em 0em 0em 2em;
}

.Totals-container {
  display: table-cell;
  width: 40%;
  padding: 0em 2em 0em 2em;
  vertical-align: bottom;
}


@media only screen and (max-width: 800px) {
  .content-container {
    display: block;
    width: 90%;
  }
  .Inventory-container {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 0;
    padding-bottom: 2em;
  }
  .Totals-container {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0;
    max-width: 600px;
  }
}

@media only screen and (max-width: 520px) {
  .content-container {
    display: block;
    width: 90%;
  }
}
