.Header {
    /* background: #fdba35; Bright Orange */
    background-color:	#1d2023;
}

.logo-container {
    text-align: center;
    box-shadow: 0px 3px 5px 1px rgba(35, 31, 32, .2);
}

.logo-container img {
    width: 100%;
    max-width: 200px;
}