
.Category-display ul {
    margin: auto;
    width: 80%;
    padding: 1em 0;
}

.Category-display ul li {
    list-style-type: none;
    text-align: center;
    padding: .5em;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    background: #231f20;
    margin: 0;
}

.liquorProd {
    overflow: hidden;
    margin-top: .5em;
}

.liquorProd.closed {
    max-height: 37px;
    height: auto;
    transition: height 2s;
}

.liquorProd.open {
    max-height: 400px;
    height: auto;
    transition: max-height .5s linear;
    
    /* transition: max-height 0.5s ease-out; */
}



.Product {

}


