
.Inventory-container {}

.Inventory {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #ececec;
    box-shadow: 0px 1px 7px 0px rgba(35, 31, 32, .4);
}

.Inventory-toggles {
    display: flex;
    justify-content: center;
}

.toggle-select {
    text-align: center;
    width: 50%;
    color: #fff;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s ease;
    font-family: 'Abel', sans-serif;
    background: #3ebab4;
}

/* .toggle-select:hover {
    background: #cccccc;
} */

.toggle-select.inactive {
    background: #cccccc;
}


.toggle-select h3 {
    margin: 0;
    
}

.Category-display {

}

.Category-display ul {
    margin: auto;
    width: 80%;
    padding: 1em 0;
}

.Category-display ul li {
    list-style-type: none;
    text-align: center;
    padding: .5em;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    background: #231f20;
    margin: .5em;
}