
.Inventory-container {}

.Inventory {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #ececec;
    box-shadow: 0px 1px 7px 0px rgba(35, 31, 32, .4);
}

.Inventory-toggles {
    display: flex;
    justify-content: center;
}

.toggle-select {
    text-align: center;
    width: 50%;
    color: #fff;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s ease;
    font-family: 'Abel', sans-serif;
    background: #7d6c54;
    /* background: #3ebab4; */
}

/* .toggle-select:hover {
    background: #cccccc;
} */

.toggle-select.inactive {
    /* background: #cccccc; */
    background: #1d2023;
}


.toggle-select h3 {
    margin: 0;
    
}


