$font-title: "Abel", sans-serif;
$font-copy: "Lato", sans-serif;
$dark-blue: #11212a;
$btn-orange: #eead0e;
$dark-gray: #777777;
$white: #fff;

.Order-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(./order_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 9999999999;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(35, 31, 32, 0.6);
  }

  .Order {
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 999;

    h3 {
      margin: 0;
      background-color: $dark-blue;
      color: $white;
      text-transform: uppercase;
      font-family: $font-title;
      display: flex;
      align-items: center;
      height: 50px;
      padding-left: 1em;
    }

    .order-form {
      width: 300px;
      background: $white;
      max-height: 350px;
      overflow-y: scroll;

      li {
        list-style-type: none;
        padding: 0.5em 1em;
        border-bottom: #cccccc solid 1px;

        h5 {
          margin: auto;
          font-family: $font-copy;
          font-size: 0.8em;
          font-weight: 100;
          color: $dark-gray;
        }
      }
    }

    .order-button,
    .back-button {
      margin-top: 1em;
      height: 30px;
      border-radius: 5px;
      font-size: 1rem;
      background-color: $btn-orange;
      color: $white;
      outline: none;
      border: none;
      font-family: $font-title;
    }
  }
  .thank-you {
    width: 100%;
    color: $white;
    padding: 1em;
    font-family: $font-title;
  }
}
